@import './resset';
@import './fonts';
@

.wrapper {
  min-height: 100%;
  font-family: "Red Hat Text";
  overflow: hidden;
}

.page {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1 1 auto;

}

.container {
  max-width: 1200px;
  margin: 0 auto;
}



/*---------------------------------------------------------------------------------------------------*/



.header {

  background: url("../img/header_bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  // .header__top
  &__top {
    background-color: rgba(242,120,92,0.7);

  }

  // .header__bottom
  &__bottom {
    padding: 32px 0 0 0;

  }
}

.header-top {
  // .header-top__logo-nav
  &__logo-nav {
    padding: 26px 0 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  // .header-top__logo
  &__logo {
  }



  // .header-top__menu
  &__menu {
  }

  // .header-top__button
  &__button {
    display: block;
    background: #0D606F;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), 0 2px 3px rgba(13, 96, 111, 0.16);
    border-radius: 10px;
    p{
      margin: 10px 30px;

      font-family: 'Red Hat Text';
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 21px;
      color: #FFFFFF;
    }
  }
}

.logo {

  // .logo__link
  &__link {
    display: flex;
  }

  // .logo__pic
  &__pic {
    display: block;
    margin: 0 6px 0 0;
  }

  // .logo__text
  &__text {
    display: block;
    font-family: 'Magra';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 31px;
    color: #FFFFFF;
  }
}

.menu {
  // .menu__body
  &__body {
  }

  // .menu__list
  &__list {
    display: flex;

    li {
      margin: 0 21px;

      &:first-child {
        margin: 0 21px 0 0;
      }

      &:last-child {
        margin: 0 0 0 21px;
      }
    }


  }
  // .menu__link
  &__link {
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
  }
}





.header-bottom-blog {
  margin: 0 308px 254px 0;
  // .header-bottom-blog__title
  &__title {
    margin: 0 0 58px 0;
    h1{
      font-family: 'Aleo';
      font-style: normal;
      font-weight: 700;
      font-size: 80px;
      line-height: 96px;
      color: #FFFFFF;
    }

  }

  // .header-bottom-blog__subtitle
  &__subtitle {
    margin: 0 0 46px 0;
    p{
      font-family: 'Aleo';
      font-style: italic;
      font-weight: 700;
      font-size: 20px;
      line-height: 24px;
      color: #FFFFFF;
    }
  }

  // .header-bottom-blog__start
  &__start {
  }
}





.header-start {
  margin: 0 0 33px 0;
  // .header-start__text
  &__text {
    p{

    }
  }

  // .header-start__btn
  &__btn {
    width: 228px;
    height: 59px;
    padding: 13.5px 32.5px;
    background: #0D606F;
    box-shadow: 0 0 3px rgba(13, 96, 111, 0.08), 0 2px 3px rgba(13, 96, 111, 0.16);
    border-radius: 10px;
    p{

      font-family: 'Red Hat Text';
      font-style: normal;
      font-weight: 500;
      font-size: 24px;
      line-height: 32px;
      color: #FFFFFF;
    }
  }
}

.search-start {
  // .search-start__wrap
  &__wrap {
  }

  // .search-start__info
  &__info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 16px;
    padding: 18px;
  }

  // .search-start__field
  &__field {
    margin: 0 23px;
    background: transparent;
    border: 0;
    width: 560px;

    font-family: 'Aleo';
    font-style: italic;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #F2785C;


    &::placeholder{
      font-family: 'Aleo';
      font-style: italic;
      font-weight: 400;
      font-size: 24px;
      line-height: 29px;
      color: #F2785C;


    }
  }

  // .search-start__submit
  &__submit {
    border: 0;
    width: 228px;
    height: 59px;
    padding: 13.5px 32.5px;
    background: #0D606F;
    box-shadow: 0 0 3px rgba(13, 96, 111, 0.08), 0 2px 3px rgba(13, 96, 111, 0.16);
    border-radius: 10px;

    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    color: #FFFFFF;
  }
}

/*---------------------------------------------------------------------------------------------------*/

.title-content {
  font-family: 'Red Hat Text';
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 53px;
  color: #F2785C;
  text-align: center;
}

.text-content {
  font-family: 'Aleo';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #0D606F;
}

/*---------------------------------------------------------------------------------------------------*/


.steps {
  padding: 80px 0 97px;
  // .steps__body
  &__body {
  }

  // .steps__title
  &__title {
    margin: 0 0 40px;
  }

  // .steps__content
  &__content {
    display: flex;
    justify-content: space-between;

  }

  // .steps__item
  &__item {
    flex: 0 0 33.3%;

  }
}

.steps-item {


  // .steps-item__icon
  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0 auto 30px;
    width: 100px;
    height: 100px;

    background: #F2785C;
    border-radius: 16px;

  }

  // .steps-item__text
  &__text {
    text-align: center;
  }
}

/*---------------------------------------------------------------------------------------------------*/



.footer {
  height: 100px;
  background: black;
}